# autenticaçao
athuGitHub.txt

# Build outputs
bin/
obj/

# User-specific files
*.user
*.suo
.vs/
.vscode/
.idea/

#banco de dados
*.db
*.db-shm
*.db-wal

# NuGet
*.nupkg
project.nuget.cache
*.nuget.dgspec.json
*.nuget.g.props
*.nuget.g.targets
project.assets.json

# Avalonia designer
.avalonia/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
dob
UI_ViewModels_V2.md
